
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
.profile--img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}