
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
.header h1{
  color: rgb(99, 99, 99);
}

.profile--img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.user-name{
  color: rgb(18, 45, 124);
}