
.post-review-link{
    display: block;
    text-decoration: none;
    width: fit-content;
    margin: 7px auto;
    color:rgb(5, 104, 106);
}
.filters-container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.filters-container label{
    margin-right: 5px;
    margin-left: 30px;
}   

.review-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid rgb(181, 178, 173);
    padding: 10px;
    border-radius: 5px;
}
.review-owner-date-container {
    margin-bottom: 20px;
}

.review-owner{
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(40, 38, 35);
}

.review-img{
    width: 100%;
    margin-bottom: 20px;
}
.review-title{
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #bd5656;
}
.review-date{
    margin-left: 30px;
    font-size: 0.8rem;
}
.review-votes-container{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.review-votes{
    font-size: 1.2rem;
}
.review-designer{
    margin-top: 10px;
}