.App {
    
}

.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.low-contrast{
    color: rgb(148, 147, 147);
}

.user-avatar{
    width: 100px;
    border-radius: 50%;
}

.error{
    width: fit-content;
    margin: 0 auto;
}